<div class="container">
  <div class="row justify-content-center">

    <div class="col-12 col-5 head">

      <img [src]="user.image" [alt]="user.username" [title]="user.username" />
      <h1>{{user.username}}</h1>
      <p style="white-space: pre;">{{user.description}}</p>

    <div>
          
    <a
       *ngFor="let item of user.links"
       href="{{item.link}}" 
       class="link-item d-flex align-items-center"
       target="_blank"
    >
      <div class="item-left">
        <fa-icon [icon]="item.icon"></fa-icon>
      </div>
      <div class="item-right">
        <p>{{item.title}}</p>
      </div>
    </a>

  </div>
</div>

<button class="btn-mode" type="button" (click)="changeMode()">
  <fa-icon *ngIf="isDarkMode" [icon]="sol"></fa-icon>
  <fa-icon *ngIf="!isDarkMode" [icon]="luna"></fa-icon>
</button>